@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;600;700&display=swap");

th.rotated-header > div {
  transform: translate(calc(100% - 1px / 2), 1px) rotate(-45deg);
  transform-origin: 0% calc(100% - 1px);
}

th.rotated-header > div > div {
  max-width: 12em;
}
