[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuzzywuzzy = "*"
mysql-connector-python = "*"
python-dateutil = "*"
pytimeparse = "*"
python-levenshtein = "*"
sqlalchemy = "*"
mysqlclient = "*"
invalid = "*"

[dev-packages]
wemake-python-styleguide = "*"
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
points = "python src/calculate_grades_and_points.py"
event = "python src/create_event.py"
members = "python src/member_import.py"
results = "python src/result_import.py"
