[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pick = "*"
python-dateutil = "*"
inquirer = "*"
mysql-connector-python = "*"
simple-term-menu = "*"
sqlalchemy = "*"
textdistance = "*"
fuzzywuzzy = "*"

[dev-packages]

[requires]
python_version = "3.8"
