[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuzzywuzzy = "*"
mysql-connector-python = "*"

[dev-packages]
wemake-python-styleguide = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
